name: build and deploy

on:
  push:
    branches: master
  workflow_call:
    inputs:
      qltyCoverage:
        description: "Qlty Coverage"
        required: false
        type: string
        default: "false"
      qltyCoverageFiles:
        description: "Qlty Coverage Files (glob patterns or comma-separated paths)"
        required: false
        type: string

env:
  AWS_REGION: us-east-1
  ECR_REPO: devops-microservice
  CLUSTER_NAME: devops-eks-cluster
  ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}.dkr.ecr.us-east-1.amazonaws.com

jobs:
  build:
    name: Build-plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: tfplan

  deploy:
    needs: build
    name: Deploy-plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init

      - name: Download Terraform Plan
        uses: actions/download-artifact@v4
        with:
          name: terraform-plan
          path: .

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
